<div class="dark-heresy chat roll">
    <div class="background border">
        <h1>{{itemName}}</h1>
        {{#each damages as |damage|}}
            <div class="dice-rolls">
                <ul class="dice-list">
                    {{#each damage.dice as |die|}}
                        <li class="die {{#if die.righteous}}righteous{{/if}} {{#if die.replaced}}replaced-{{die.replaced}}{{/if}} {{#if die.max}}max{{/if}}">
                            {{#if die.replaced}}{{die.original}}&rarr;{{/if}}{{die.value}}{{#if die.max}}!{{/if}}
                        </li>
                    {{/each}}
                </ul>
            </div>
            <h3 class="separator damage-location" data-location={{location}}>{{localize location}}</h3>
            <p><strong>{{localize "CHAT.DAMAGE"}}:</strong> <span class="damage-total">{{damage.total}}</span>
                <strong class="damage-type">{{damageTypeShort ../weapon.damageType}}</strong>
            </p>
            <p><strong>{{localize "CHAT.PENETRATION"}}:</strong> <span class="damage-penetration">{{penetration}}</span></p>
            {{#if damage.righteousFury}}
                <p><strong>{{localize "CHAT.RIGHTEOUS_FURY"}}:</strong> <span class="damage-righteous-fury">{{damage.righteousFury}}</span></p>
            {{/if}}
        {{/each}}
        <div class="wrapper flex-column">
            <button class="apply-damage">{{localize "CHAT.CONTEXT.APPLY_DAMAGE"}}</button>
        </div>
    </div>
</div>
