<form class="{{cssClass}}" autocomplete="off">
    <div class="header border">
        <div class="flex row">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            </div>
            <div class="flex column grow justify-center">
                <div class="name header-row">
                    <label>{{localize "CYBERNETIC.NAME"}}</label>
                    <input name="name" type="text" value="{{item.name}}" />
                </div>
            </div>
        </div>
    </div>

    <div class="sheet-tabs tabs flex row" data-group="primary">
        <b class="item" data-tab="data">{{localize "TAB.DATA"}}</b>
        <b class="item" data-tab="notes">{{localize "TAB.NOTES"}}</b>
    </div>

    <div class="sheet-body">
        <div class="tab" data-group="primary" data-tab="data">
            <div class="stats border">
                <h1>{{localize "TITLE.STATS"}}</h1>
                <div class="stats-row">
                    <div class="stat installed">
                        <label>{{localize "CYBERNETIC.INSTALLED"}}</label>
                        {{#if system.installed}}
                            <input name="system.installed" type="checkbox" value="installed" checked/>
                        {{else}}
                            <input name="system.installed" type="checkbox" value="installed"/>
                        {{/if}}
                    </div>
                </div>
                <div class="stats-row">
                    <div class="stat craftsmanship">
                        <label>{{localize "CYBERNETIC.CRAFTSMANSHIP"}}</label>
                        <select name="system.craftsmanship">
                            {{selectOptions (config "craftmanship") selected=system.craftsmanship localize=true}}
                        </select>
                    </div>
                    <div class="stat availability">
                        <label>{{localize "CYBERNETIC.AVAILABILITY"}}</label>
                        <select name="system.availability">
                            {{selectOptions (config "availability") selected=system.availability localize=true}}
                        </select>
                    </div>
                    <div class="stat weight">
                        <label>{{localize "CYBERNETIC.WEIGHT"}}</label>
                        <input name="system.weight" type="number" value="{{system.weight}}" data-dtype="Number" />
                    </div>
                </div>
                <h2>{{localize "TITLE.CHARACTERISTICS"}}</h2>
                <div class="characteristics">
                    <label></label>
                    <label>{{localize "CYBERNETIC.MOD_NORMAL"}}</label>
                    <label>{{localize "CYBERNETIC.MOD_UNNATURAL"}}</label>
                </div>
                <div class="characteristics">
                    <label>{{localize "CHARACTERISTIC.WEAPON_SKILL"}}</label>
                    <input name="system.characteristics.weaponSkill.normal" type="number" value="{{system.characteristics.weaponSkill.normal}}" data-dtype="Number" />
                    <input name="system.characteristics.weaponSkill.unnatural" type="number" value="{{system.characteristics.weaponSkill.unnatural}}" data-dtype="Number" />
                </div>
                <div class="characteristics">
                    <label>{{localize "CHARACTERISTIC.BALLISTIC_SKILL"}}</label>
                    <input name="system.characteristics.ballisticSkill.normal" type="number" value="{{system.characteristics.ballisticSkill.normal}}" data-dtype="Number" />
                    <input name="system.characteristics.ballisticSkill.unnatural" type="number" value="{{system.characteristics.ballisticSkill.unnatural}}" data-dtype="Number" />
                </div>
                <div class="characteristics">
                    <label>{{localize "CHARACTERISTIC.STRENGTH"}}</label>
                    <input name="system.characteristics.strength.normal" type="number" value="{{system.characteristics.strength.normal}}" data-dtype="Number" />
                    <input name="system.characteristics.strength.unnatural" type="number" value="{{system.characteristics.strength.unnatural}}" data-dtype="Number" />
                </div>
                <div class="characteristics">
                    <label>{{localize "CHARACTERISTIC.TOUGHNESS"}}</label>
                    <input name="system.characteristics.toughness.normal" type="number" value="{{system.characteristics.toughness.normal}}" data-dtype="Number" />
                    <input name="system.characteristics.toughness.unnatural" type="number" value="{{system.characteristics.toughness.unnatural}}" data-dtype="Number" />
                </div>
                <div class="characteristics">
                    <label>{{localize "CHARACTERISTIC.AGILITY"}}</label>
                    <input name="system.characteristics.agility.normal" type="number" value="{{system.characteristics.agility.normal}}" data-dtype="Number" />
                    <input name="system.characteristics.agility.unnatural" type="number" value="{{system.characteristics.agility.unnatural}}" data-dtype="Number" />
                </div>
                <div class="characteristics">
                    <label>{{localize "CHARACTERISTIC.INTELLIGENCE"}}</label>
                    <input name="system.characteristics.intelligence.normal" type="number" value="{{system.characteristics.intelligence.normal}}" data-dtype="Number" />
                    <input name="system.characteristics.intelligence.unnatural" type="number" value="{{system.characteristics.intelligence.unnatural}}" data-dtype="Number" />
                </div>
                <div class="characteristics">
                    <label>{{localize "CHARACTERISTIC.PERCEPTION"}}</label>
                    <input name="system.characteristics.perception.normal" type="number" value="{{system.characteristics.perception.normal}}" data-dtype="Number" />
                    <input name="system.characteristics.perception.unnatural" type="number" value="{{system.characteristics.perception.unnatural}}" data-dtype="Number" />
                </div>
                <div class="characteristics">
                    <label>{{localize "CHARACTERISTIC.WILLPOWER"}}</label>
                    <input name="system.characteristics.willpower.normal" type="number" value="{{system.characteristics.willpower.normal}}" data-dtype="Number" />
                    <input name="system.characteristics.willpower.unnatural" type="number" value="{{system.characteristics.willpower.unnatural}}" data-dtype="Number" />
                </div>
                <div class="characteristics">
                    <label>{{localize "CHARACTERISTIC.FELLOWSHIP"}}</label>
                    <input name="system.characteristics.fellowship.normal" type="number" value="{{system.characteristics.fellowship.normal}}" data-dtype="Number" />
                    <input name="system.characteristics.fellowship.unnatural" type="number" value="{{system.characteristics.fellowship.unnatural}}" data-dtype="Number" />
                </div>
                <div class="characteristics">
                    <label>{{localize "CHARACTERISTIC.INFLUENCE"}}</label>
                    <input name="system.characteristics.influence.normal" type="number" value="{{system.characteristics.influence.normal}}" data-dtype="Number" />
                    <input name="system.characteristics.influence.unnatural" type="number" value="{{system.characteristics.influence.unnatural}}" data-dtype="Number" />
                </div>
            </div>
        </div>
        <div class="tab" data-group="primary" data-tab="notes">
            <div class="notes-editor border">
                <h1>{{localize "TITLE.NOTES"}}</h1>
                <div style="height: 132px; width: 100%">
                    {{editor enrichment.system.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </div>
</form>
